@font-face{
    font-family: "MyriadPro-Regular";
    src: url(font/MyriadPro-Regular.otf);
}
 
}
.navbar-header{
  	color:white;
  	font-family: "MyriadPro-Regular";
  	font-weight: bold;
}
blockquote {
  
  font-size: 15pt;
  font-family:serif;
}
.footer{
  
  background-color: black;
}
.list-inline{
  padding-top: 40px;
}
.footer>.row>.container>.col-lg-8{
  padding-top: 40px;

}


input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.register{
  margin-top: 100px;
  margin-left:300px;
  width: 500px;
}
#image{
  display: none;
  height: 200px;
  width: auto;
  max-width: 460px;
}
#display_image{
  
  height: 100%;
  width: 100%;
  
}