{% load staticfiles %}

@font-face{
    font-family: "MyriadPro-Regular";
    src: url(font/MyriadPro-Regular.otf);
}

.login_form{
  padding-top:100px;
  padding-left: 100px;

  
 
}

.login-content{
  max-width: 350px;

}
.col-4 .col-lg-4{
  margin-right:30px; 

}
.row{
  width:100%;
}
.aboutus{
  padding: 4% 0 1% 0;
  background-color: #F7F7F7;
  border-top:1px solid #E7E7E7;
  border-bottom:1px solid #E7E7E7;
    

}
h3{
   font-family: "Helvetica Neue";
    color: #878787;
     text-transform: uppercase;
     text-align: center;

}

h2{
  padding-top: 10px;
  font-family: "Helvetica Neue";
  padding-left: 30px;
  color: #878787;
  font-weight: 700;
  text-transform: uppercase;
}

.container{
  /*margin-left: 0px;*/
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
.login-content{

  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
p{
    text-align: center;
}
.navbar-header{
  	color:white;
  	font-family: "MyriadPro-Regular";
  	font-weight: bold;
}

.footer{
  
  background-color: black;
}
.list-inline{
  padding-top: 40px;
}
.footer>.row>.container>.col-lg-8{
  padding-top: 40px;

}
.download-logo{
  max-width: 50%;
  margin-left: 90px;
}
.small-title {

  font-size: 18px;
  color: #4A4A4A;
}
.social-media{
  margin-left: 110px;
}
.social-logo{
  padding-left: 10px;
}
.list-unstyled{
  padding-left: 125px;
}
