{% extends 'Automobile_sales/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet"  href="{% static 'css/automobile.css' %}">
{% endblock %}
{% block detail %}
  <div class="card">
    {% for obj in queryset %}
      <div class="loop">
                    <div class = "detailContainer">

                        <img src="{{obj.image.url}}">

                    </div>
                  
                    
                    <table  class ="description">
                      
                        
                     <tbody>
                        <tr>
                            <td style="font-weight: bold;">Description</td>
                        </tr>
                      
                        <tr>
                            <td>Brand:</td>
                            <td>{{obj.brand}}</td>
                            
                        </tr>
                        <tr>
                            <td>Model No:</td>
                            <td>{{obj.model_no}}</td>
                            
                        </tr>
                        <tr>
                            <td>Engine Power:</td>
                            <td>{{obj.engine_power}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{obj.price}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{obj.description}}</td>
                        </tr>
                        <tr>
                            <td><button id = "sendEmail{{obj.id}}"type = "submit" class="btn btn-primary btn-sm" onclick="location.href = '{% url 'email' %}';">Send Email</button></td>
                            
                        </tr>
                      
                    </tbody>
                </table>
                 <hr>  
             </div>
             
    {% endfor %}

    
  </div>
{% endblock %}

{% block sidebar %}

<div class="card">
                <div class="panel panel-default">
                    <div class="heading">
                        Related items
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled related-list" style="max-height: 350px;overflow-y: auto;">

                          {% for obj in display_vehicle %}
                            <li class="col-sm-12">
                                
                                <a class="thumbnail" id="carousel-selector-0" href="/detailPage/?id={{obj.id}}"><img src="{{obj.image.url}}" class="img-responsive img-thumbnail">
                                <p>{{obj.model_no}}</p>
                                    
                                </a>
                                
                            </li>
                          {% endfor %}

                            
                        </ul>
                    </div>
                </div>

                
            </div>
  
</div>

{% endblock %}
  
  {% block script %}

   
    
  {% endblock %}    
