<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Automobile Sales System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/automobile.css' %}">
   <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <!-- <img src="images/logo.png"> -->
        <a href="#" class="navbar-brand">AUTOMOBILE SALES SYSTEM</a>
      </div>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav " >
          <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="{% url 'Vehicle_upload' %}"><span class="glyphicon glyphicon-plus"></span>Upload Vehicle Details</a></li>
        </ul>
        </ul>
        <div class="navbar-right navbar-btn">
        <!-- <form action="/logout/" method="POST">
                            {% csrf_token %}
                            <input style="padding-top: 15px; color: white" class="btn btn-link" type = "submit" value="LOGOUT"/><br/>
                        </form> -->
          <span><p style="color: white">Welcome {{user}}!!</p><span>
          <a href="{% url 'index' %}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  
    
    <div class="image_vehicles" style="margin-top: 50px"> 
    
    <img src="{{vehicles.image.url}}" width="500px"> 
    </div>
   
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Brand</th>
                <th>Model No</th>
                <th>Engine Power</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                
            </tr>
        </thead>
        
        <tbody>
        {% if queryset %}
          There are {{queryset| length}} records:
          {% for obj in queryset %}
            <tr>
                <td>{{obj.vehicle_type}}</td>
                <td>{{obj.brand}}</td>
                <td>{{obj.model_no}}</td>
                <td>{{obj.engine_power}}</td>
                <td>{{obj.price}}</td>
                <td>{{obj.description}}</td>
                <td>{{obj.image}}</td>
            </tr>
          {% endfor %} 
        {% else %}
          There are no records in the system
        {% endif %}
        </tbody>
    </table>
  
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src="{%static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script >$(document).ready( function () {
    $('#myTable').DataTable();
} );</script>
</body>
</html>